:root {
  /* COLORS */
  --primary-color: rgb(21, 51, 46);
  --secondary-color: rgb(250, 247, 239);
  --primary-bg-color: rgb(250, 247, 239);
  --secondary-bg-color: rgb(240, 236, 226);
  --alert: rgb(182, 137, 15);

  /* Layout */
  --box-margin: 50px;
  --gap-margin: 25px;
  --box-margin-mobile: 30px;
  --gap-margin-mobile: 15px;
  --box-padding: 50px;
  --gap-padding: 25px;
  --small-padding: 15px;
  --box-padding-mobile: 30px;
  --gap-padding-mobile: 15px;
  --small-padding-mobile: 10px;

}

body {
  margin: 0;
  background: var(--primary-bg-color);
  font-family: Helvetica;
  color:var(--primary-color);
}

.content-box {
  max-width: 1600px;
  margin: 20px 40px;
}

.button {

  height: 30px;
  width: fit-content;
  border-radius: 20px;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.white-button {
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
}

p {
  line-height: 140%;
}

h1, 
h2, 
h3, 
h4 {
  font-family: Impact;
  font-weight: normal;
}

.hero .logo {
  height: 50%
}

@media only screen and (max-width: 600px) {
  .content-box {
    margin: 20px 20px;
  }
}


